<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TimeTwoFix.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <link rel="stylesheet" href="~/TimeTwoFix.Web.styles.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap-icons/bootstrap-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" asp-append-version="true">
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TimeTwoFix</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMenu">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link nav-home" asp-controller="Home" asp-action="Index"><i class="bi bi-house"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-privacy" asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield-lock"></i> Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-user" asp-controller="User" asp-action="Index"><i class="bi bi-person"></i> User Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-client" asp-controller="Client" asp-action="Index"><i class="bi bi-people"></i> Client Management</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-vehicle" asp-controller="Vehicule" asp-action="Index"><i class="bi bi-car-front"></i> Vehicle Management</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <button class="btn btn-user-dropdown" type="button" data-bs-toggle="dropdown">
                                    <i class="bi bi-person-circle"></i> @User.Identity.Name <i class="fas fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Profile"><i class="fas fa-user"></i> Profile</a></li>
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Settings"><i class="fas fa-cog"></i> Settings</a></li>
                                    <li><a class="dropdown-item" asp-controller="User" asp-action="Activity"><i class="fas fa-clock"></i> Activity</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <form asp-controller="User" asp-action="Logout" method="post">
                                            <button type="submit" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container main-container">
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            © 2025 - TimeTwoFix.Web | <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>